{{ define "Index" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Golang - Fundamentos de uma Aplicação Web</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>
                        Python 3
                    </th>
                    <th>
                        Django 2
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Back End
                    </td>
                    <td>
                        Framework
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>
{{ end }}